@charset "utf-8";

body {
	font: 100%/1.0 Franklin Gothic, Helvetica, Verdana;
	background-color: #CDCDC0;
	margin: 0;
	padding: 0;
	margin-top: 0;	 
	padding-right: 5%;
	padding-left: 5%;
	color: #626D71;
}

/* --- LEFT COLUMN --- */

.menu {
	width: 30%;
	float: left;
}

/* --- RIGHT COLUMN --- */

#name {
	vertical-align: middle;
	margin-left: -1em;
	margin-top: -1em;
}

#motto {
	color: #626D71;
	padding-right: 1em;
	text-align: right;
}

h1, h2 {
	font-family: Georgia, Garamond, Baskerville, Times New Roman;
}

h1 {
	text-align: right;
	font-size: 1.7em;
	padding: .2em 0 .4em 0;
	width: 100%;
	color: #b38867;
	font-style: italic;
}

.profile {
	position: relative;
	width= 50%;	
}

h2 {
	text-align: justify;
	font-size: 1.4em;
	width: 100%;
	margin: .2em 0 .2em 0;
}

h3 {
	font-size: 1.2em;
}

h3 img { /*cat icon */
	float: left;
	text-align: center;
}

h3 a {
	margin: 0 1em 0 .1em;
}

h4 {
	font-size: 1.1em;
}

p {
	font-size: 1em;
}

/* ---  --- */

#rotating-item-wrapper {
    position: relative;
    width: 980px;
    height: 347px;
}
.rotating-item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

/* ---  --- */

.bottom {
	padding: 0.5em 0 0.5em 0;
	margin: 0 1em 0 0;
}

.contact {
	text-align: right;
}

a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}


/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #626D71;
	/*text-decoration: underline;  unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}

a:visited {
	color: #626D71;
}

a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	font-style: italic;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.body_container {
	width: 70%;
	max-width: 1260px;
	margin: 0 auto; 
	float: right;
}

/* ~~ This is the layout information. ~~*/
.content {
	padding: 0 auto;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; 
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/* --- MEDIA QUERIES --- */

@media only screen and (max-width: 1000px) {
	body {
		font-size: 100%; 
	}
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 70%;
	}
}

@media only screen and (max-width: 500px) {
	body {
		font-size: 35%;
	}
}	
